/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

p {
  font-family: "Proxima Nova", sans-serif;
}
.nova {
  font-family: "Proxima Nova", sans-serif;
}
.f1 {
  font-family: "graphik";
  font-weight: 500;
}
img {
  object-fit: cover;
  image-orientation: from-image;
}
.redd {
  background-color: #71031a;
  color: white;
}
.pinkk {
  background-color: #fe3944;
}
.redu {
  background-color: #FFB1BE;
}
.t1 {
  font-family: "filson-soft", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
}
/* Link Styles */
.main {
  text-decoration: none;
  color: white;
  font-family: "filson-soft", sans-serif;
}
.main:hover {
  font-style: italic;
}
.oppo {
  text-decoration: none;
}
.oppo:hover{
  font-style: italic;
}
.container {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.top {
  align-self: flex-start;
  position: absolute;
  left: 50%;
}
.mid {
  align-self: center;
  position: absolute;
  left: 25%;
}
.btm {
  align-self: flex-end;
  position: absolute;
  right: 36.8%;
}
